<div class="row">
<%= link_to 'New Photo', new_photo_path, :class => "button success" %>
 <%  @photos.each do |photo| %>
<h2>  <%= photo.title %> </h2>
  <%= link_to image_tag(photo.image.url(:thumb)), photo_path(photo) %>
  <% if photo.user_id == current_user.id %>
    <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button alert" %>
  <% end %>
<% end %> 
</div>
<!--
      <td>%= link_to 'Show', digital_object_identifier, :class => "button" %></td>
        % if digital_object_identifier.user_id == current_user.id %>
        <td>%= link_to 'Edit', edit_digital_object_identifier_path(digital_object_identifier),
lass => "button secondary" %></td>
        td>%= link_to 'Destroy', digital_object_identifier, method: :delete, data: { confirm: 'are you sure?' }, :class => "button alert" %></td>-->
